---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.jsx';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Hero } from '@components/home/DynamicText';
// import { Pill } from '@eliancodes/brutal-ui';
// import { Button } from '@eliancodes/brutal-ui';
// import { Card } from '@eliancodes/brutal-ui';
import MyButton from "@components/generic/BrutalButton.jsx"
import Card from "@components/generic/BrutalCard.jsx";
import colors from '@components/generic/colors.json';


// import '@fontsource/pacifico';
import '@fontsource/dm-serif-text';
import '@fontsource/poppins';


import { Image } from "astro:assets";
import headshot from "../assets/profile.jpg";

// const builtWith = [
//   { name: 'Astro', url: 'https://astro.build/' },
//   { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
//   {
//     name: 'Content Collections',
//     url: 'https://docs.astro.build/en/guides/content-collections/',
//   },
//   { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
//   {
//     name: 'Sitemap',
//     url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
//   },
//   { name: 'Vercel', url: 'https://vercel.com' },
//   { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
// ];
---

<Layout
  title='Home'
  pageTitle='Home'
  description='My Portfolio website.'
>
<main class='bgc0 p-6'>
  <MobileSocials />

  <section id='about' class='grid grid-flow-row sm:grid-cols-3 gap-4 mt-4 justify-stretch'>
    <h2 class='hidden'>About Brutal</h2>
    <div class='sm:col-span-2'>
      <Card colorIndex={4}>
        <div class='flex flex-col justify-between items-start gap-4'>
          <Hero client:load></Hero>
          
          <MyButton target={'_blank'} href='src/assets/resume.txt'>
            View my resume &rarr;
          </MyButton>
        
        </div>
      </Card>
    </div>


    <div class="max-h-[300px]">

      <Image
		class="object-cover h-full w-full rounded-lg border-3 border-black card-shadow"
		src={headshot}
		alt="Elian Van Cutsem"
		width={headshot.width}
		height={headshot.height}
	/>
</div>
<div class='sm:col-span-3'>
  <Card colorIndex={4}>
    <h2 class='sanchez tc0 text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
      Who am I?
    </h2>
    <p class='poppins tc1'>
      I'm a passionate Senior Data Scientist with a strong analytical mind and a knack for translating complex data into actionable insights. <br/>
      I hold a Master's degree in Data Science from <b> MIT</b> and a Bachelor's degree in <em>Computer Science</em> from [University Name]. 
      Throughout my career, I've thrived in utilizing various tools and frameworks, including machine learning libraries like TensorFlow and PyTorch, 
      for building robust data pipelines and predictive models. Currently, I work at [Company Name] in [City, State] where I leverage my data expertise to solve real-world challenges and contribute to the company's success. Outside of work, I find enjoyment in [Your Hobby]. This activity allows me to [ Briefly mention how your hobby benefits you, e.g., unwind, explore new ideas, etc.]. 
    </p>
  </Card>
</div>
</section>
<RecentBlogPosts client:load/>
  </main>
</Layout>

<style>

</style>